* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* button {
  background-color: #fff;
  border: none;
  margin: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 39px;
  cursor: pointer;
}
button a {
  text-decoration: none;
}

p {
  font-size: 30px;
}
input {
  font-size: 39px;
}
form {
  display: flex;
  flex-direction: column;
} */
